body { 
    margin: 0; 
    padding-bottom: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

div{
    color: whitesmoke;
}

div#info:hover {
    opacity: 1 !important;
}

.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
    font-size: '12pt';
}

.allertPopUpScreen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:rgb(0, 0, 0) ;
    padding: 0;
}

.h2Allert{
    color: rgb(230, 118, 13);
    margin-top: 0;
}

.allertPopUp{
    background-color: #000000be;

    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    border: 2px solid rgb(230, 118, 13);
    box-shadow: 0 4px 8px rgba(230, 118, 13, 0.31);

    width: 300px;
    max-height: 600px; 
}

#cookiesContainer { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: relative; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    flex-direction: column; 
    max-height: 300px; 
    overflow-y: auto; 
    scrollbar-width: none;
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

.cookie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    break-inside: avoid;
    margin-bottom: 10px;
}

.cookie-container .name-team {
    flex: 1;
    color: whitesmoke;
}

.cookie-container .team-span {
    font-size: small;
    color: whitesmoke;
    margin-left: 3px;
}

.cookie-container button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cookie-container button.delete-button {
    background-color: red;
    color: white;
}


.form-add-agent{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
}

#addButton{
    background-color: #e6780e; 
    border: 2px solid #f0f0f0;
    color: white; 
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px; 
    cursor: pointer;
    margin-left: auto;
    height: 30px;
}

#nameInput{
    margin-right: 10px;
    max-width: calc(30% - 15px); 
    background-color: #FFF;
    height: 25px;
    text-decoration: none;
    border-radius: 5px; 
    border: 2px solid #f0f0f0;
}

#teamInput{
    margin-right: 10px;
    max-width: calc(30% - 15px); 
    background-color: #FFF;
    height: 25px;
    text-decoration: none;
    border-radius: 5px; 
    border: 2px solid #f0f0f0;
}
