#mapListModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(169, 78, 255, 0.4);
}

#mapListModal-content {
    background-color: #000000;
    border-radius: 8px;
    min-width: 500px; 
    max-height: 80%; 
    overflow-y: auto; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    font-size: 12px; 
    text-align: left;
}

#map-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    width: 100%; 
    max-width: 400px; 
}

.map-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.map-title h3 {
    margin-right: 10px;
}

.map {
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 200px; 

    --cell-size: calc(200px / var(--rows) - 2px);       /* Calcola la dimensione desiderata della cella */
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    /* Calcola la dimensione in base al numero di celle nella riga e colonna */
    width: var(--cell-size); /* Utilizza il valore calcolato */
    height: var(--cell-size); /* Utilizza il valore calcolato */
    margin: 1px;
}

.light-green {
    background-color: lightgreen;
}

.dark-green {
    background-color: darkgreen;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.map_options{
    display: flex;
    gap: 10px; 
}